<%= form_for @train do |f| %>
  <%= render 'common/errors', resource: @train %>
  <p>
    <%= f.label :number, "Номер поезда:" %><br>
    <%= f.text_field :number %>
  </p>

  <div class="field">
    <%= f.label :current_station, "Выберите маршрут:" %>
    <%= f.collection_select :route_id, Route.all, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :route, "Выберите станцию:" %>
    <%= f.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </div>

  <p>
    <%= f.submit "#{ @train.new_record? ? 'Создать' : 'Изменить' }" %>
  </p>

<% end %>
