<p id="notice"><%= notice %></p>

<div class="field">
  <strong>Номер вагона:</strong>
  <%= @wagon.number %>
</div>

<div class="field">
  <strong>Тип:</strong>
  <%= Wagon::TYPE[@wagon.wagon_type.to_sym] %>
</div>

<div class="field">
  <strong>Верхние:</strong>
  <%= @wagon.top_seats %>
</div>

<div class="field">
  <strong>Нижние:</strong>
  <%= @wagon.bottom_seats %>
</div>

<div class="field">
  <strong>Боковые верхние:</strong>
  <%= @wagon.side_top_seats %>
</div>

<div class="field">
  <strong>Боковые нижние:</strong>
  <%= @wagon.side_bottom_seats %>
</div>

<div class="field">
  <strong>Добален к проезду:</strong>
  <% if @wagon.train.present? %>
    <%= @wagon.train.number %>
  <% else %>
    К проезду не добавлен
  <% end %>
</div>

<%= link_to 'Редактировать', edit_wagon_path(@wagon) %> |
<%= link_to 'Назад', wagons_path %>
